:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --location-bg-color: #f2f2f2ff;
  --filter-border-color: #d9d9d9;

  --fontsize-large: 22px;
  --fontsize-normal: 18px;
  --fontsize-normal--: 17px;
  --fontsize-small: 16px;
  --fontsize-xs: 14px;
}

/****** General ***********/

* {
  font-family: "Raleway", sans-serif;
}

html {
  font-size: var(--fontsize-small);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
  font-size: 16px;
}

.card img {
  object-fit: cover;
}

.fa-solid {
  color: var(--main-color);
}

/****** Header ***********/
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

header img {
  object-fit: contain;
  height: 1.1875rem;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: end;
}

header ul {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  margin-top: 16px;
}

header li {
  position: relative;
  margin-right: 69px;
}

header li:last-child {
  margin-right: 0;
}

header li a:hover {
  color: var(--main-color);
}

header li a:hover:after {
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}

/****** Body ***********/
h1 {
  font-size: var(--fontsize-large);
  margin-bottom: 8px;
  margin-top: 0;
}

.text-h1 {
  margin: 0;
}

.section-title {
  font-size: var(--fontsize-large);
}

/****** Research Bar ***********/
.research-bar {
  margin-top: 35px;
  display: flex;
  align-items: center;
  height: 49px;
}

.location-icon {
  width: 50px;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--location-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.fa-location-dot {
  color: black;
}

.research-bar form {
  display: flex;
  height: 100%;
}

.research-bar input {
  width: 195px;
  padding: 0;
  border: 1px solid var(--location-bg-color);
  background-color: transparent;
  border-left: none;
  border-right: none;
  font-size: var(--fontsize-normal);
  font-weight: bolder;
  outline: none;
  text-align: center;
}

.research-bar button[type="submit"] {
  background-color: var(--main-color);
  font-size: var(--fontsize-normal);
  font-weight: bolder;
  color: white;
  border: none;
  width: 132px;
  top: 0px;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-magnifying-glass {
  display: none;
}

/****** Filter ***********/
.filter {
  margin-top: 35px;
  font-size: var(--fontsize-small);
  font-weight: bolder;
  display: flex;
}

.filter-list {
  display: flex;
  flex-direction: row;
}

.filter p:first-child {
  margin-right: 15px;
}

.filter-block i {
  margin-right: 10px;
}

.filter-block {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 0px 19px;
  height: 50px;
  border: 2px solid var(--filter-border-color);
  border-radius: 25px;
  background-color: transparent;
  font-weight: bolder;
  display: flex;
  font-size: var(--fontsize-normal--);
}

.filter-block:hover {
  background-color: var(--filter-bg-color);
}

/****** result-number ***********/
.result-number {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}

.fa-info {
  color: var(--main-color);
  display: flex;
  position: relative;
}

.result-number i {
  margin-left: 12px;
  margin-right: 22px;
}

.result-number p {
  margin-top: 0;
  margin-bottom: 0;
}

.fa-info::after {
  content: "";
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
  height: 24px;
  width: 24px;
  border: 2px #d9d9d9ff solid;
  border-radius: 50%;
}

/****** accommodation And popular ***********/
.neutral-star {
  color: var(--main-bg-color);
}

.euro {
  font-weight: 700;
}

.accommodation-and-popular {
  display: flex;
  justify-content: space-between;
}

.accommodation-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
}

/****** accommodation ***********/
.accommodation {
  width: 65%;
}

.accommodation h2 {
  font-size: var(--fontsize-large);
  margin-top: 0px;
  margin-bottom: 30px;
}

.accommodation-cards {
  display: grid;
  box-sizing: border-box;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.accommodation-cards .card {
  height: 100%;
  box-sizing: border-box;
}

.accommodation-cards img {
  width: 100%;
  height: 114px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accommodation-cards h3 {
  margin-top: 9px;
  margin-bottom: 8px;
}

.accommodation-cards .card-content {
  margin-left: 15px;
  margin-right: 15px;
}

.accommodation-cards p {
  font-size: var(--fontsize-xs);
  margin-top: 0px;
  margin-bottom: 8px;
}

.accommodation-cards .card-rating {
  margin-top: 0px;
  margin-bottom: 10px;
}

.expand {
  font-weight: bold;
  font-size: var(--fontsize-normal);
}

/****** popular ***********/
.popular {
  width: 32%;
}

.popular-cards {
  box-sizing: border-box;
}

.popular-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.popular-cards .card {
  display: flex;
  box-sizing: border-box;
  margin-top: 30px;
}

.popular-cards img {
  width: 33%;
  height: 146px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.popular-cards .card-content {
  width: 67%;
  padding-left: 15px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.popular-cards .card-title {
  margin-bottom: 5px;
  margin-top: 0;
}

.popular-cards .card-subtitle {
  margin: 0;
  font-size: var(--fontsize-xs);
  /* margin-bottom: 45px; */
}

/****** Activity ***********/
.activity-section {
  margin: 65px 30px;
}

.activity-section h2 {
  margin-bottom: 30px;
  margin-top: 0;
}

.activity-cards-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.activity-cards-list a {
  margin-right: 30px;
  width: 25%;
}

.activity-cards-list a:last-child {
  margin-right: 0px;
}

.activity-cards-list .card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 20px;
  max-width: 300px;
  height: 100%;
}

.activity-cards-list .card img {
  height: 380px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity-cards-list h3 {
  display: flex;
  flex-grow: 1;
  margin: 20px 19px 20px 19px;
  align-items: center;
}

/****** Footer ***********/
footer {
  background-color: var(--location-bg-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-block h2 {
  font-size: var(--fontsize-normal);
  margin: 0;
}

.footer-block ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-block li {
  margin-top: 15px;
}

/****** Media queries ***********/
/* Tablets */
@media (max-width: 1024px) {
  .filter {
    flex-direction: column;
  }

  .filter-title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .accommodation-and-popular {
    flex-direction: column;
  }

  .accommodation {
    width: 100%;
  }

  .popular {
    width: 100%;
    margin-top: 50px;
  }

  .popular-cards a {
    width: 100%;
    margin-right: 20px;
    display: flex;
  }

  .popular-cards a:last-child {
    margin-right: 0;
  }

  .popular-cards {
    display: flex;
    flex-direction: row;
  }

  .popular-cards .card {
    margin-top: 20px;
    min-height: 146px;
  }

  .popular-cards img {
    height: 100%;
  }

  .popular .card-subtitle {
    margin-bottom: 26px;
  }

  .activity-section {
    margin-top: 65px;
    margin-bottom: 65px;
  }

  .activity-cards-list .card img {
    height: 200px;
  }

  .activity-cards-list h3 {
    margin: 16px 19px 16px 19px;
  }
}

/* Mobil */
@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }

  .mobil-margin {
    padding: 0 20px;
  }

  header {
    flex-direction: column;
  }

  header ul {
    width: 100%;
  }

  header li {
    margin-right: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }

  header li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 2px;
    background-color: var(--main-bg-color);
  }

  header li a:hover::after {
    top: unset;
  }

  .research-bar form {
    width: 100%;
    position: relative;
    /* max-width: 285px; */
  }

  .research-bar input {
    width: 100%;
    text-align: left;
    padding-left: 24px;
  }

  .text-research-alt {
    display: none;
  }

  .research-bar button[type="submit"] {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: -49px;
    right: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .fa-magnifying-glass {
    color: white;
    display: inline;
  }

  .filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
    /* margin-right: -10px; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
  }

  .filter-block {
    margin: 0;
    width: calc(50% - 5px);
    min-width: 178px;
    flex-grow: 1;
  }

  .result-number {
    margin-top: 35px;
  }

  .accommodation-and-popular {
    flex-direction: column-reverse;
  }

  .popular {
    margin-top: 0px;
  }

  .accommodation-and-popular section {
    padding: 30px 20px;
    border-radius: 0px;
  }

  .popular-cards {
    flex-direction: column;
    align-items: baseline;
  }

  .popular-cards a {
    display: flex;
    width: 100%;
  }

  .popular-cards .card {
    height: 146px;
    width: 100%;
    margin-top: 15px;
  }

  .accommodation-and-popular .accommodation {
    background-color: unset;
  }

  .accommodation {
    margin-top: 5px;
  }

  .accommodation h2 {
    margin-bottom: 15px;
  }

  .accommodation-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .accommodation-cards img {
    height: 124px;
  }

  .activity-section {
    margin: 30px 20px;
    margin-top: 55px;
  }

  .activity-cards-list {
    flex-direction: column;
  }

  .activity-cards-list a {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .activity-cards-list .card {
    max-width: unset;
  }

  .activity-cards-list .card img {
    height: 141px;
  }

  footer {
    margin-top: 65px;
    margin-bottom: 0;
    flex-direction: column;
    padding: 30px;
  }

  .footer-block {
    margin-bottom: 50px;
  }

  .footer-space-div {
    display: none;
  }

  .footer-block:nth-child(3),
  .footer-block:last-child {
    margin-bottom: 0px;
  }
}
